.cta{
    height: 20rem;
    margin-top: 5rem;
    padding: 40px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.title{
    font-size: 40px;
    color: var(--color-azul);
}


.line{
    border-bottom: 2px solid var(--color-azul);
    height: 20px;
    width: 300px;
}

.btn{
    color: var(--color-claro);
    border-radius: 50px;
    background-color: var(--color-azul);
    display: block;
    padding: 20px 30px;
    cursor:pointer;
    font-family: var(--second-font-family);
    font-size: 16px;
    transition: background-color 0.8s ease, color 0.8s ease;
}

.btn:hover{
    color: var(--color-azul);
    background: none;
    border: 2px solid;
}