.card{
    height: 300px;
    width: 300px;
    padding: 30px 25px;
    margin: 40px 0px;
    border: 2px solid var(--color-azul);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.title{
    margin-top: 20px;
    color: var(--color-azul);
}

.text{
    margin-bottom: 20px;
}