.card{
    width: 350px;
    min-height: 300px;
    flex-wrap: nowrap;
    padding: 30px 25px;
    margin: 40px 10px;
    border: 2px solid var(--color-azul);
    /* border-radius: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.cardHeader{
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.title{
    color: var(--color-azul);
}

.text{
    text-align:left;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-gray);
}

.icon{
    font-size: 20px;
    color: var(--color-azul);
    width: 30px;
    height: 30px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}