.home {
    background-image: url('/src/assets/reunion.jpeg');
    background-size: cover;
    background-position: center;
    height: 70vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.home_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: rgba(48, 48, 48, 0.5); */
    background-color: rgba(0, 0, 0, 0.5); 

}

.home_left {
    max-width: 60%; 
    padding: 2rem;
    color: white;
}

.home_right {
    width: 30%;
    height: 300px;
    padding: 3rem;
    font-size: 2rem;
    /* background-color: rgba(0, 0, 0, 0.5);  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_title {
    font-size: 5rem; 
    margin-bottom: 1rem;
}

.home_subtitle {
    font-size: 1.5rem; 
    margin-bottom: 1.5rem;
}

.home_cta {
    font-size: 2rem; 
    color: white;
    margin: 2rem;
}

.home_button{
    font-size: 20px;
    color: white;
    background:none;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px white solid;
    cursor: pointer;
}
.home_button:hover{
    background-color: white;
    color: black;
}