.header{
    background-color: var(--color-claro);
    /* color: var(--color-primary); */
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 5px var(--padding);
    position:sticky;
    top: 0;
    box-shadow: 2px 5px 10px 0px var(--color-light-dark);
}

.logo{
    color: var(--color-primary);
    font-family: var(--second-font-family);
    letter-spacing: 5px;
}
.btn{
    color: var(--color-primary);
    display: block;
    padding: 10px;
    cursor:pointer;
    font-family: var(--second-font-family);
    font-size: 16px;
    border: 2px solid;
    transition: background-color 0.8s ease, color 0.8s ease;
}

.btn:hover{
    color: var(--color-claro);
    background-color: var(--color-primary);
}
