.section {
    min-height: 300px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: var(--color-transparent);
    border-radius: 50px;
}

.containerLeft {
    flex: 1;
    padding: 0px 40px;
}

.containerRight {
    flex: 1;
}

.titulo{
    color: var(--color-azul);
    font-family: var(--second-font-family);
    font-size: 30px;
    margin-bottom: 40px;
}

.description{
    line-height: 28px;
    color: var(--color-primary);
}

.img {
    width: 100%; 
}  