.section {
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-top: 20px;
    /* background-color: var(--color-tertiary); */
    /* background-color: rgba(141, 169, 196, 0.3); */
    background-color: var(--color-transparent);
}

.containerLeft {
    flex: 1;
    padding: 0px 60px;
}

.containerRight {
    flex: 1;
}

.titulo{
    color: var(--color-primary);
    font-family: var(--second-font-family);
    font-size: 50px;
    letter-spacing: 10px;
    margin-bottom: 40px;
}

.description{
    line-height: 28px;
}

.img {
    width: 100%; 
    height: auto;
}  