
.messagePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 800px;
}

.messagePopup h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.messagePopup textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.messagePopup button {
    color: var(--color-claro);
    background-color: var(--color-azul);
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    /* padding: 15px 25px; */
    cursor: pointer;
    font-family: var(--second-font-family);
    border-radius: 50px;
    border: 2px solid;
    transition: background-color 0.8s ease, color 0.8s ease;
}

.messagePopup button:hover {
    color: var(--color-azul);
    background: none;
}

.messagePopup ul {
    list-style: none;
    padding: 0;
}

.messagePopup ul li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.messagePopup ul li:last-child {
    border-bottom: none;
}

.popUpHeader{
    margin-bottom: 20px;
    padding: 20px 0px;
    border-bottom: 2px solid var(--color-tertiary);
}

.dataHeader{
    display: flex;
    gap: 4rem;
}

.dataHeader span{
    font-weight: 600;
}

.coment{
    background-color: rgb(235, 235, 235);
    padding: 10px 5px;
    border-radius: 5px;
}

.popUpFooter {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px; 
}

.commentTextArea {
    width: 100%; 
    height: 40px; 
    resize: vertical; 
}
.comentTitle{
    font-size: 15px;
}

.noComments{
    margin-bottom: 15px;
}

.btnComment{

    font-size: 16px;
}

/* Estilos para el fondo transparente */
.transparentBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; 
}
