:root{
    --color-primary:black;
    --color-secondary: white;
    --color-tertiary: rgb(220, 220, 220);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

