.tableContainer table {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
    /* background-color: var(--color-transparent); */
}

.tableContainer th{
    border-bottom: 1px solid var(--color-azul);
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
}

.centered {
    text-align: center !important;
}

.tableContainer tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tableContainer tr:hover {
    background-color: #b7b3ffb1;
}

td {
    padding: 5px 10px;
}

.checkboxContainer input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.icon {
    text-align: center;
}